<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841765738097-t7prn2l208vsk18j3ks7fguoob4h2b0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841765738097-t7prn2l208vsk18j3ks7fguoob4h2b0v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>841765738097-hqlnqs9a3fclg1c22a1hdai3nddmnlmb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBL9ieEKLv88xUmOBU-4U1_9Lz2sluwwVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>841765738097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hausifyv2.hausifyV2</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-c1f6f</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-c1f6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841765738097:ios:c2e4feb5cf306dc120add0</string>
</dict>
</plist>